.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.quien-soy-title {
    font-size: 42px;
    font-weight: 500;
    color: #f7f5f5;
    text-align: center;
    margin-bottom: 50px;
}

.quien-soy-section {
    font-size: 18px;
    color: #f7f5f5;
    width: 80%;
    margin: 30px auto;
}

.titles {
    color: #f3f3f3;
}

.icon-cont {
    display: flex;
    justify-content: space-evenly;
}

.icon-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    margin-top: 20px;
}

.icon-item img {
    margin: 0px;
    width: 65px;
    height: auto;
}

.experience__data {
    padding-bottom: 20px;
}

.timeline-title {
    color: #fff;
}

.timeline-desc {
    color: #ebebeb;
}

.stack-project-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.stack-cont {
    min-height: 41px;
}

.sidebar-cont {
    min-width: 304px;
    height: 100vh;
}

.lista-idiomas {
    margin-bottom: 2.5rem;
    color: #f3f3f3;
}

.stack-item {
    padding: 5px;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: 500;
}


.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 550px) {
    .icon-item img {
        margin: 0px;
        width: 45px;
        height: auto;
    }

    .landing-title {
        font-size: 2.2rem;
    }

    .landing-subtitle {
        font-size: 1.9rem;
    }

    .portafolio-title {
        font-size: 2.5rem;
    }
}

img {
    animation: lazy_loading 1s ease-in-out backwards;
}

.experience__data {
    animation: lazy_loading 1s ease-in-out backwards;
}

.horizontal_card {
    animation: lazy_loading 1s ease-in-out backwards;
}

main {
    animation: lazy_loading 1s ease-in-out backwards;
}

.drawer-side {
    animation: lazy_loading 1s ease-in-out backwards;
    display: flex;
    height: 100%;
}

.profile_img_cont {
    min-height: 172px;
}

.mb_31 {
    margin-bottom: 31px !important;
}

/* .stack-item {
    animation: lazy_loading 1s ease-in-out backwards;
} */

.post-img {
    height: 98px;
    max-width: 208px;
}

@keyframes lazy_loading {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}