---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLine from "../components/cv/TimeLine.jsx";
import Stacks from "../components/cv/Stacks.jsx";
import { stack, items, itemsEstudios, itemsCursos } from "../data/cvData.js";
---

<BaseLayout
  title="Luciano Canziani: Curriculum Vitae"
  description=`Hello! My name is Luciano and I have solid experience in developing technological solutions in multicultural contexts.

I combine both logical and creative thinking to solve the challenges I encounter, improving myself every day.`
>
  <h1 class="text-5xl font-bold mb-6">
    Luciano Canziani CV
  </h1>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold titles">About me</div>
  </div>

  <div class="mb-10 text-justify">
    <p class="text-lg mb-5">
     Hello! My name is Luciano and I have solid experience in developing technological solutions in multicultural contexts.
    </p>
    <p class="text-lg">
I combine both logical and creative thinking to solve the challenges I encounter, improving myself every day.
    </p>
  </div>

  <div class="mb-5">
    <h2 class="text-3xl w-full font-bold titles">Work Experience</h2>
  </div>

  <div class="time-line-container mb-10">
    <TimeLine items={items} />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold titles">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLine items={itemsEstudios} />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold titles">Courses</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLine items={itemsCursos} />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold titles">Languages</div>
  </div>

  <ul class="lista-idiomas">
    <li>Spanish: Native</li>
    <li>English: Advance</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold titles">Stack</div>
  </div>

  <Stacks items={stack} />
</BaseLayout>
