---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLine from "../components/cv/TimeLine.jsx";
import Stacks from "../components/cv/Stacks.jsx";

let stack = [
  "ReactJs",
  "JavaScript",
  "MongoDB",
  "Laravel",
  "PHP",
  "MySQL",
  "MeteorJs",
  "NextJs",
  /* "CSS", */
  "Bootstrap",
  /* "Reactstrap", */
  /* "AstroJs", */
  "jQuery",
  "FireBase",
  "SEO",
];
let items = [
  {
    title: "Full-Stack Web Developer",
    subtitle: "ATIVAR Desarrollo de Software - Mérida, México",
    dates: "05/2022 - Present",
    desc: `Developing websites for companies in the United States and Mexico for the
development of global ecommerce projects, including products, legal
services and administrative solutions`,
    stack: ["ReactJs", "JavaScript", "MongoDB", "Laravel", "MySQL", "MeteorJs"],
  },
  {
    title: "Web Developer",
    subtitle: "",
    dates: "04/2022 - 08/2022",
    desc: "2 freelance projects consisting of a static website and an ecommerce.",
    stack: ["ReactJs", "FireBase", "Bootstrap", "jQuery"],
  },
  {
    title: "Ecommerce Stores",
    subtitle: "",
    dates: "08/2020 - 05/2022",
    desc: "Managing several e-commerce stores of varied products through the print-ondemand modality at an international level.",
    stack: [
      /* "Market research", "SEO", "Graphic design" */
    ],
  },
  {
    title: "Administrative",
    subtitle: "Gran Meliá Iguazú - Puerto Iguazú, Argentina",
    dates: "09/2019 - 08/2021",
    desc: "Covering the areas of payment to suppliers, collections and auditing",
    stack: [],
  },
  {
    title: "Multitask",
    subtitle: "ZeaGold Eggs - Dunedin, Nueva Zelanda",
    dates: "09/2017 - 05/2019",
    desc: "Fulfilling different operational roles in the production line.",
    stack: [],
  },
  {
    title: "IT Support",
    subtitle: "Plaza Group - Buenos Aires City, Argentina",
    dates: "03/2015 - 06/2017",
    desc: "In charge of network maintenance and computer repair.",
    stack: [],
  },
];
let itemsEstudios = [
  {
    title: "Senior Technician in Web Design and Programming",
    subtitle:
      "03/2023 - Present, Da Vinci School, Buenos Aires City, Argentina",
    dates: "",
    desc: "",
    stack: [],
  },
  {
    title: "University Expert in PHP and MySQL",
    subtitle:
      "11/2023 - Present, National Technological University, Buenos Aires City, Argentina",
    dates: "",
    desc: "",
    stack: [],
  },
  {
    title: "Front-End React Development Career",
    subtitle: "12/2021 - 11/2022, Coderhouse, Buenos Aires City, Argentina",
    dates: "",
    desc: "",
    stack: [],
  },
];
let itemsCursos = [
  {
    title: "SEO - Search Engine Optimization",
    subtitle: "03/2022, Coderhouse, Buenos Aires City, Argentina",
    dates: "",
    desc: "",
    stack: [],
  },
  {
    title: "Intensive English Course",
    subtitle: "10/2017, University of Otago, Dunedin City, New Zealand",
    dates: "",
    desc: "",
    stack: [],
  },
];
---

<BaseLayout
  title="Luciano Canziani: Curriculum Vitae"
  description=`Hello! My name is Luciano and I am a Web Developer. I have experience in
      developing projects of international impact, collaborating with
      professionals from various nations.`
>
  <h1 class="text-5xl font-bold" style="margin-bottom: 25px;">
    Luciano Canziani CV
  </h1>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold titles">About me</div>
  </div>

  <div class="mb-10 text-justify">
    <p class="text-lg" style="margin-bottom: 20px;">
      Hello! My name is Luciano and I am a Web Developer. I have experience in
      developing projects of international impact, collaborating with
      professionals from various nations.
    </p>
    <p class="text-lg">
      I am looking for projects that I am excited to be a part of and challenges
      that will help me grow.
    </p>
  </div>

  <div class="mb-5">
    <h2 class="text-3xl w-full font-bold titles">Work Experience</h2>
  </div>

  <div class="time-line-container mb-10">
    <TimeLine items={items} />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold titles">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLine items={itemsEstudios} />
    <!--  <TimeLine
      title="Technician Information-Technology"
      subtitle="2006 to 2009 at Osvaldo Herrera Polytechnic institute, Habana, Cuba"
    /> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold titles">Courses</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLine items={itemsCursos} />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold titles">Languages</div>
  </div>

  <ul class="lista-idiomas">
    <li>Spanish: Native</li>
    <li>English: Advance</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold titles">Stack</div>
  </div>

  <Stacks items={stack} />
</BaseLayout>
