<div class="drawer-side bg-base-200">
  <label for="my-drawer" class="drawer-overlay bg-base-200"></label>
  <div class="menu p-4 overflow-y-auto w-[19rem] bg-base-200 text-base-content">
    <div class="w-fit profile_img_cont">
      <a href="/">
        <div
          class="avatar transition ease-in-out w-1/2 hover:scale-[102%] block m-auto mt-3 mb-6"
        >
          <div>
            <img
              class="mask mask-circle"
              src="/profile.jpg"
              alt="profile image"
            />
          </div>
        </div>
      </a>
    </div>
    <ul>
      <!-- <li><a href="/">Inicio</a></li> -->
      <li><a href="/">Portfolio</a></li>
      <li><a href="/curriculum-vitae">Curriculum vitae</a></li>
      <li>
        <a href="https://www.linkedin.com/in/luciano-canziani/" target="_blank"
          >Let's Connect!</a
        >
      </li>
    </ul>

    <div class="grow"></div>
    <div class="icons">
      <a
        href="https://github.com/LucianoCanziani"
        target="_blank"
        class="mx-3"
        aria-label="Github"
      >
        <img src="/github.png" alt="" width="24px" height="24px" />
      </a>
      <a
        href="https://www.linkedin.com/in/luciano-canziani/"
        target="_blank"
        class="mx-3"
        aria-label="Linkedin"
      >
        <img src="/linkedin.png" alt="" width="24px" height="24px" />
      </a>
    </div>
    <!-- <div class="social-icons px-4 my-2 flex self-center">
      <a
        href="https://github.com/LucianoCanziani"
        target="_blank"
        class="mx-3"
        aria-label="Github"
      >
        <img src="/github.png" alt="" width="24px" height="24px" />
        
      </a>
      <a
        href="https://www.linkedin.com/in/luciano-canziani/"
        target="_blank"
        class="mx-3"
        aria-label="Linkedin"
      >
        <img src="/linkedin.png" alt="" width="24px" height="24px" />
      
      </a>
    </div> -->
  </div>
</div>
